Repository phrazzld/trump-goggles: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run, pnpm typecheck

chore: update husky pre-commit to resolve deprecation warning
  .husky/pre-commit
Due: none

chore: mark CI-01 task as completed
  TODO.md
Due: none

chore: docs cleanup
  CI-03-plan.md
  CI-04-plan.md
  docs/DEVELOPMENT_PHILOSOPHY.md
  docs/DEVELOPMENT_PHILOSOPHY_APPENDIX_TYPESCRIPT.md
  docs/prompts
Due: none

fix(typescript): properly type extension APIs and fix TypeScript errors
  .lintstagedrc.json
  TODO.md
  background-combined.js
  browser-adapter.js
  content-consolidated.js
  declarations.d.ts
  manifest.json
  package.json
  text-processor.js
  tsconfig.json
Due: prettier --write, eslint --fix, vitest related --run, pnpm typecheck

feat(typescript): define interfaces for window module exports
  TODO.md
  tsconfig.json
  types.d.ts
Due: pnpm typecheck

feat(typescript): define types for browser API interactions
  TS-06-plan.md
  types.d.ts
Due: pnpm typecheck

docs: align trailing comma documentation with prettier config
  CONTRIBUTING.md
  DOC-03-plan.md
Due: none

test: verify nickname mappings test file structure
  TEST-05-plan.md
Due: none

test(nickname-mapping): implement unit tests for nickname mapping core logic
  TEST-06-plan.md
  TODO.md
  test/content/trump-mappings.test.js
Due: prettier --write, eslint --fix, vitest related --run, pnpm typecheck

test(nickname-mapping): implement unit tests for legacy support
  TEST-07-plan.md
  TODO.md
  test/content/trump-mappings.test.js
Due: prettier --write, eslint --fix, vitest related --run, pnpm typecheck

fix(strict-mode): address TypeScript strict mode errors in core modules
  browser-detect.js
  dom-processor.js
  error-handler.js
Due: prettier --write, eslint --fix, vitest related --run, pnpm typecheck

fix(typescript): address TypeScript strict mode errors in core modules
  TODO.md
  logger.js
  mutation-observer.js
  text-processor.js
  tsconfig.json
  types.d.ts
Due: prettier --write, eslint --fix, vitest related --run, pnpm typecheck

chore: mark TS-03 and TS-04 as completed
  TODO.md
Due: none

chore: mark TS-05 as completed
  TODO.md
Due: none

chore: mark TS-06 and TS-07 as completed
  TODO.md
Due: none

chore: mark TS-08 as completed
  TODO.md
Due: none

docs: mark DOC-03 as completed - trailing comma documentation matches Prettier config
  TODO.md
Due: none

chore: mark TEST-05 task as completed
  TODO.md
Due: none

ci: update pre-commit hooks for TypeScript checking
  .lintstagedrc.json
  CI-06-plan.md
  TODO.md
Due: none

ci: fix pre-commit hook and update CI for coverage reporting
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.json
  CI-07-plan.md
  TODO.md
  vitest.config.js
Due: prettier --write, eslint --fix, vitest related --run, pnpm typecheck

test: complete verification suite execution (TEST-08)
  TEST-08-plan.md
  TEST-08-verification-summary.md
  TODO.md
Due: none

chore: organize project documentation and config files
  BACKLOG.md
  CI-06-plan.md
  CI-07-plan.md
  DOC-03-plan.md
  REMEDIATION_PLAN.md
  TEST-05-plan.md
  TEST-06-plan.md
  TEST-07-plan.md
  TEST-08-plan.md
  TEST-08-verification-summary.md
  TS-06-plan.md
  tsconfig.targeted.json
Due: none

ci: update GitHub Actions to latest versions
  .github/workflows/ci.yml
  CI-RESOLUTION-PLAN.md
  TODO.md
Due: none

ci: add task to fix Node.js 20.9.0 compatibility issue
  TODO.md
Due: none

docs: add GitHub Actions versioning strategy
  BACKLOG.md
  CI-12-plan.md
  CI-VERSIONING.md
  CONTRIBUTING.md
  TODO.md
Due: none

fix(ci): resolve Node.js 20.9.0 compatibility issues
  CI-13-SUMMARY.md
  CI-13-implementation.md
  CI-13-plan.md
  TODO.md
  tsconfig.json
  vitest.config.js
Due: prettier --write, eslint --fix, vitest related --run, pnpm typecheck

fix(lint): resolve unused variable warning in content-integration.test.js
  CI-12-plan.md
  CI-13-SUMMARY.md
  CI-13-implementation.md
  CI-13-plan.md
  CI-RESOLUTION-PLAN.md
  CI-VERSIONING.md
  TODO.md
  test/integration/content-integration.test.js
Due: prettier --write, eslint --fix, vitest related --run, pnpm typecheck

fix(lint): resolve unused imports in trump-mappings.test.js
  TODO.md
  test/content/trump-mappings.test.js
Due: prettier --write, eslint --fix, vitest related --run, pnpm typecheck

fix(lint): address unused error variables in background-combined.js
  TODO.md
  background-combined.js
Due: prettier --write, eslint --fix, vitest related --run, pnpm typecheck

docs(ci): investigate GitHub Actions workflow configuration
  CI-17-findings.md
  TODO.md
Due: none

ci: fix artifact upload naming conflicts
  .github/workflows/ci.yml
  TODO.md
Due: none

ci: simplify Node.js configuration to single version
  .github/workflows/ci.yml
  CI-19-findings.md
  TODO.md
  package.json
  vitest.config.js
Due: prettier --write, eslint --fix, vitest related --run, pnpm typecheck

ci: strengthen pre-commit hooks
  .husky/pre-commit
  .lintstagedrc.json
  TODO.md
  eslint.config.js
Due: prettier --write, eslint --fix, vitest related --run, pnpm typecheck

docs(ci): document CI workflow maintenance process
  CONTRIBUTING.md
  TODO.md
  docs/CI-MAINTENANCE.md
Due: none

style: format files with Prettier
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/default.md
  .github/workflows/ci.yml
  .github/workflows/vendor-docs.yml
  .lintstagedrc.json
  .prettierrc
  AUTHORS.md
  BACKLOG.md
  CI-17-findings.md
  CI-19-findings.md
  README.md
  REMEDIATION_PLAN.md
  browser-testing-instructions.md
  crash-test-page.html
  cross-browser-compatibility-report.md
  declarations.d.ts
  docs/architecture.md
  docs/behavior.md
  manifest-firefox.json
  manifest-universal.json
  manifest.json
  options.html
  performance-test-page.html
  pnpm-lock.yaml
  test-page.html
  test/background/background.test.js
  test/content/content.test.js
  test/manual/dynamic-content.html
  test/manual/error-simulation.html
  test/manual/index.html
  test/manual/static-content.html
  test/manual/test-report-template.md
  test/manual/test-results.md
  test/manual/visual-verification-checklist.md
  test/types.d.ts
  tsconfig.json
  tsconfig.targeted.json
  types.d.ts
Due: prettier --write, eslint --fix, vitest related --run, pnpm typecheck

chore: comrade kamala, new icon
  BACKLOG.md
  README.md
  content-before-optimization.js
  content-shared.js
  cross-browser-compatibility-report.md
  images/goggles-01.png
  images/goggles-02.png
  manifest-firefox.json
  manifest-universal.json
  manifest.json
  test/content/trump-mappings.test.js
  test/content/trumpMap.test.js
  trump-mappings.js
Due: prettier --write, eslint --fix, vitest related --run, pnpm typecheck

chore(docs): cleanup
  REMEDIATION_PLAN.md
  TODO.md
Due: none

feat(types): add tooltip-related TypeScript interfaces
  T001-plan.md
  TODO.md
  TS-01-plan.md
  types.d.ts
Due: pnpm typecheck

feat(text-processor): implement identifyConversableSegments method
  T002-plan.md
  TODO.md
  text-processor.js
Due: prettier --write, eslint --fix, vitest related --run, pnpm typecheck

feat(dom): create DOMModifier module structure and constants
  T003-plan.md
  TODO.md
  dom-modifier.js
Due: prettier --write, eslint --fix, vitest related --run, pnpm typecheck

Path conditions:
  prettier --write: any of: *.js
  eslint --fix: any of: *.js
  vitest related --run: any of: *.js
  pnpm typecheck: any of: **/*.{js,ts}
